@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
}

body {
	background: #f1f1f1;
}

.menu {
	max-width: 315px;
	height: 100%;
	min-height: 100%;
	position: absolute;
	background: #32323a;

	.header {
		.logo {
			height: 125px;
			color: #fff;
			font-family: 'MyriadPro';
			background: #28282e;
			text-align: center;
			text-transform: uppercase;
			line-height: 29px;

			h1 {
				font-size: 24px;
				line-height: 29px;
				margin: 4px 0 0;
			}

			p {
				font-size: 24px;
				line-height: 29px;
				margin: 0;
			}
		}

		.userinfo {
			position: relative;
			top: -60px;

			.settings {
				width: 22px;
				height: 22px;
				background: url('../img/userinfo-settings.png') no-repeat;
				margin: 49px 34px 0;
				float: left;
				display: block;
			}

			.upload-container {
				width: 128px;
				height: 128px;
				border: 4px solid #3b3b43;
				border-radius: 50%;
				float: left;
				display: block;

				.upload {
					width: 120px;
					height: 120px;
					color: #000;
					font-family: 'MyriadPro';
					font-size: 14px;
					background: #c2c6ca;
					padding: 36px 0 0;
					
					border: 4px solid #fff;
					border-radius: 50%;
					display: block;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
				}
			}

			.comments {
				width: 29px;
				height: 28px;
				background: url('../img/userinfo-comments.png') no-repeat;
				margin: 50px 34px 0;
				float: left;
				display: block;
				text-decoration: none;

				span {
					width: 20px;
					height: 20px;
					color: #000;
					font-family: 'MyriadPro';
					font-size: 15px;
					background: #dc6263;
					border-radius: 50%;
					display: block;
					text-align: center;
					position: relative;
					top: -10px;
					right: -18px;
				}
			}

			.name {
				color: #fff;
				font-family: 'MyriadPro';
				font-size: 18px;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				top: 20px;
				clear: both;
			}
		}
	}

	.list {
		ul {
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				border-bottom: 1px solid #3b3b43;

				a {
					color: #fff;
					font-family: 'MyriadPro';
					font-size: 18px;
					background: url('../img/menu-list_li.png') right center no-repeat;
					padding: 10px 20px;
					display: block;
					text-decoration: none;

					&:hover {
						color: #000;
						background: url('../img/menu-list_l1i.png') right center no-repeat;
					}
				}

				span {
					font-size: 18px;
					margin-right: 10px;
				}

				&:hover {
					background: #fed136;
				}		
			}

			&:first-child {
				border-top: 1px solid #3b3b43;
			}
		}
	}

	.logout {
		color: #707070;
		font-family: 'MyriadPro';
		font-size: 20px;
		margin: 60px 0 0;
		text-align: center;
		text-decoration: none;
		display: block;
	}
}

	